:root {
    --nav-color: rgb(0 0 139)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--nav-color);
    padding: 10px
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    main {
        padding-left: 10px;
    }

    aside {
    
    margin: 10px;
    border: 10px;
    padding: 10px 100px;
    background-color: rgb(170, 163, 175);
    color: rgb(69, 31, 94);
    position: relative;
    }
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

ul {
    max-width: 75%;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 110px;
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--nav-color);
    border-bottom: 1px solid black;
    margin: 10px;
}

p {
    padding-top: 20px;
    padding-left: 10px;
}

footer {
    margin-top: 20px;
    border-top: dotted 2px;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid pgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}