nav {
    background-color: darkblue;
    padding: 10px
}

main {
    max-width: 750px;
}

aside {
    max-width: 750px;
    margin: 10px;
    border: 10px;
    padding: 10px 100px;
    background-color: rgb(170, 163, 175);
    color: rgb(69, 31, 94);
}

img {
    width: 200px;
    height: auto;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: dotted 2px;
    text-align: center;
}